[2020-03-09 14:05] cankarm opened #1 "Files linked to the main TOSCA yaml are not accessible to the orchestrator."
In the case of the CSAR-tree, the orchestrator ignores the referenced file defined in the main TOSCA yaml and returns a

[Path] Path <path to the file> does not exist.

type of error. The referenced file is in the same folder then the main file.

[2020-03-09 14:07] cankarm commented on #1
Related to: xlab-si/xopera-opera/#25

[2020-03-09 17:30] tadeboro commented on #1
This has been fixed in the upstream repo and the fixed version of opera has been released.

[2020-04-03 09:35] duelle opened #2 "Storing/caching information between deploy and undeploy"
When deploying with opera, we use a certain file being placed in a folder known at deploy-time. What would be the intended/best way to store the path to that file to be used in the undeploy step?

Example deployment like stated in https://github.com/radon-h2020/demo-ctt-sockshop/blob/master/radon-ctt/create.yml
- create temporary folder
- copy artifact (e.g., docker-compose.yml) to temporary folde

[2020-04-06 10:12] duelle opened #3 "Ansible module dependency handling"
When using an Ansible module like `docker_container` as done in https://github.com/radon-h2020/demo-ctt-sockshop/blob/master/radon-ctt/create_ti.yml#L6 I see an error like this:

Do I need to know all the Ansible module requirements beforehand to be able to install these on the target machines or what would be the best way to achieve the presence of all required tools/packages for the actual deplo

[2020-04-07 09:49] cankarm commented on #2
It's a bit unclear what would you like to achieve, the link seems corrupted.

xOpera deploys application through yaml. It also undeploys it, just with calling "opera undeploy". Surely the deploy and un-deploy playbooks must exist and be properly written. xOpera stores _all deploy information required for undeploy_. Sure, if there is something specific, when you need an IP, etc. You must collect th

[2020-04-07 09:51] duelle opened #4 "Access deployment IP-addresses via opera"
After having deployed using a service template (e.g., https://github.com/radon-h2020/demo-ctt-sockshop/blob/master/radon-ctt/ti.yml ), I want to obtain the actual public IP address of the deployment to access it from remote.
I tried using the intrinsic functions of TOSCA with the opera outputs, but apparently didn't find the
correct way on how to get the property that holds the actual IP address
o

[2020-04-07 09:52] cankarm commented on #3
It seems that you rely on some python application that has requirements that you do not know beforehand?

This is strange. Usually python apps have "requirements.txt" which means you run "pip install requirements.txt" and you should be good to go.

[2020-04-07 09:58] duelle commented on #2
Here's the fixed link: https://github.com/radon-h2020/demo-ctt-sockshop/blob/master/radon-ctt/create_sut.yml
The property that I would like to store is the

so I know where the docker-compose.yml can be found to be able to issue a docker-compose stop or docker-compose rm

[2020-04-07 10:03] duelle commented on #3
My understanding of that error message was that the Ansible module "docker_container" requires that docker-py is installed on the destination system. As I am not directly interacting with Ansible (except writing the create.yml), how such dependencies are resolved and installed on the destination system. The system this was executed on had Docker installed already and was able to run that applicati

[2020-04-07 12:51] cankarm commented on #2
Ok, I think that now I understand what you would like to achieve. I think that you need "set_stats" task.

An example we can follow is " createRole" and in particular "role_arn" parameter. See the yaml of toy example [here](
https://github.com/radon-h2020/demo-tosca-blueprint-aws-lambda/blob/master/resize_service_opera_v1_3.yml) and corresponding playbook for role is [here](https://github.com/rado

[2020-04-07 13:00] cankarm commented on #4
I think that the answer of this question is answered already here #3 .

Please confirm if this is correct.

[2020-04-07 14:36] duelle commented on #2
I added the `set_stats` module similar to the example you provided.

[code]

Would I use the opera output feature to get the value out and feed it to the undeploy step somehow or can I pick that value up in the delete.yml directly?

[2020-04-07 14:38] duelle commented on #4
If I get you correctly, one would get the IP address from Ansible vars and store it with `set_stats` and output that variable with the opera outputs?

[2020-04-07 15:16] duelle commented on #3
Under the assumption that I define a VM using TOSCA and define a create.yml for the deployment of an application and I use some Ansible modules there (e.g., `docker_container`), that have requirements (e.g., the `pip`-package `docker-py` like here: https://docs.ansible.com/ansible/latest/modules/docker_container_module.html#requirements). Would I need to check the requirements of the modules and a

[2020-04-08 12:17] cankarm commented on #2
you should be able to pick it up in delete.yml - if it is initialized in the inputs before that delete.yml operation it should work,

[2020-04-08 12:18] cankarm commented on #4
Yes? Or I may not get you how you actually want to obtain IP. Who tells you which IP some VM has?

[2020-04-08 12:21] cankarm commented on #3
@duelle yes, I think that this is a way. Maybe @neza-vehovar or @anzoman can help with better idea.

[2020-04-08 12:52] anzoman commented on #3
@cankarm thanks for the mention, @duelle I understand your concern and problems. Different Ansible modules require different prerequisites and one can easily forget to fulfil them all. So just as you suppose it's true that you cannot know what exactly is required for Ansible module to run successfully without errors. You just have to look for the requirements manually. And yes `docker_container` A

[2020-04-08 13:43] anzoman commented on #2
Hi, I would like to leave a comment. The proposed solution with set_stats could work but I never tested it for two seuqential operations (e.g create and then delete). I remember that we used set_stats for the deployment part with create operation so that data which were actually TOSCA attributes could be passed through different node type operations within Ansible playbooks. But I am not sure that

[2020-04-08 14:02] anzoman commented on #4
Maybe you can use opera outputs (like [here](https://github.com/xlab-si/xopera-opera/blob/master/examples/outputs/service.yaml)) and do something like that:

[code]

Then you can retrieve outputs by running `opera outputs`. But this would be accessible from the machine where you started the deployment and not from the remote machine deployed on.

[2020-04-08 16:46] duelle commented on #4
I tried something similar to this, but if I do it like that, I only got "localhost" and I don't know how to get the actual IP address from the deployed system (which I need to access the deployed machines' endpoint).

[2020-04-08 16:59] duelle commented on #3
I think that Docker itself would be an comparably obvious prerequisite that might also be modeled in TOSCA when an application is packaged inside a Docker container. The point I was rather aiming at was the dependencies that Ansible itself has for its modules that are not that obvious (e.g., the `docker-py` package for the `docker_container` module).
Can Ansible itself check (and possibly install)

[2020-04-08 17:04] duelle opened #5 "Specify the location of the `.opera` folder (feature)"
For our use case, it would be a nice feature if we could specify the location of the `.opera` folder as a paramter.
For example like this:
`opera --location /path/to/deployment_artifacts/sut deploy radon-ctt/sut.yml`

Which then would create the `.opera` folder into `/path/to/deployment_artifacts/sut/.opera` instead of the current/working directory.
That would allow us to use the same deployment a

[2020-04-08 20:29] cankarm commented on #3
The one who created the tasks should also add the task to install all dependencies - it might be a problem, that you face with a broken or low maintained Ansible module. Ansible engine by itself is just a tool which is as smart as the modules/playbooks are. It cannot _detect dependencies_ and install them if the a) software itself or b) application/module/playbook developer are not aware that thos

[2020-04-08 20:39] cankarm commented on #4
But what is public address and who sets this? If you can answer this then you can get what it is.

In example above it seems that it is _set to localhost_ therefore it is correct answer if you get _localhost_ back.

Should there be a service inside to ask "whatsmyip" to some public server and get the answer back? Service itself usually is not aware of it's public IP. Or maybe you want retrieve som

[2020-04-09 07:46] anzoman commented on #3
Yes as it was said, Ansible is designed in the way that leads you to install prerequisites before you use the module. Because it would be strange if you let Ansible just install those requirements to your target machine without exactly knowing which are those. Currently the Ansible documentation is your best friend to figure out what you need. It is possible that Ansible would change installing th

[2020-04-09 08:26] anzoman commented on #4
Maybe set_stats and TOSCA attributes can solve this and you can also find a little bit about getting current target's host ip from Ansible [here](https://stackoverflow.com/questions/39819378/ansible-get-current-target-hosts-ip-address). But for me it's a little unclear what you're trying to achieve. Where do you start the deployment with xOpera from? Is it directly on the target host or do you run

[2020-04-09 10:05] anzoman commented on #5
Hi, currently this is not possible but I think this is a good very idea for a new opera feature which could be really useful when testing multiple different deployments. What do you think @cankarm?

[2020-04-09 15:02] duelle commented on #3
Then I'll include the installation of requirements into the create.yml to be sure that all dependencies are met. Thanks for your help!

[2020-04-09 15:02] #3 closed, assigned to nobody

[2020-04-14 10:25] duelle commented on #4
In [our use case](https://github.com/radon-h2020/radon-ctt/blob/dev/README.md#examples) we deploy two systems. The system under test (SUT) and a test infrastructure (TI). After both are deployed, we need to know the IP addresses of the two systems to be able to
1. tell the TI the IP address of its target (i.e., the SUT)
1. configure the TI and trigger the test execution

If querying the IP address

[2020-04-14 10:31] duelle commented on #2
@anzoman

Yes, the `docker-compose.yml` is needed for the undeployment. If it is not provided, `docker-compose` complains that it does not know what to do.

In the end all I want to achieve is to be able to store one (or several) variable between the executions of the deploy and the undeploy step of opera. In this case, I would like to store the dynamically created path to the docker-compose.yml o

[2020-04-17 05:27] miwurster opened #6 "Missing definition for `tosca.capabilities.EndPoint`"
Hi, when we try to use a Service Template using an `EndPoint` capability (which is a normative type), xOpera returns with the following message:

`radonnodesdocker__DockerApplication.tosca:19:23: [ReferenceWrapper] Invalid reference capability_types/tosca.capabilities.EndPoint`

Seems that the `tosca.capabilities.EndPoint` normative type is missing.

See also this issue https://github.com/radon-h2

[2020-04-17 07:30] anzoman commented on #2
Aha now I get it. So to store variable between the executions and to be able to pass it between TOSCA types (nodes, relationships, capabilities...) you will need to use `set_stats` Anisble module in one of your playbooks. Let me provide the example to clearify this.

For example if you have a node type defined like this:

[code]
You can see that I defined an attribute which will be used for passin

[2020-04-17 07:54] anzoman commented on #6
Hi, xOpera orchestrator supports `tosca.capabilities.Endpoint`. It seems to me that you have a typo because it is `Endpoint` not `EndPoint` (take a look here: [tosca.capabilities.Endpoint](https://docs.oasis-open.org/tosca/TOSCA-Simple-Profile-YAML/v1.3/cos01/TOSCA-Simple-Profile-YAML-v1.3-cos01.html#DEFN_TYPE_CAPABILITIES_ENDPOINT))

I tried to pass an example TOSCA service template to xOpera tha

[2020-04-17 08:22] anzoman commented on #4
I provided an example of exchanging variables between TOSCA entites in #2. Take a look and maybe you will find what you seek there.

Maybe you can combine sharing vars between nodes with default Ansible vars (`ansible_all_ipv4 _addresses` and `ansible_default_ipv4`) that will help you retrieve the desired IP like in the example below:

[code]

[2020-04-17 08:27] anzoman commented on #5
@duelle I will propose this feature to opera and will let you know if this will be possible with further releases of opera.

[2020-04-17 08:42] cankarm commented on #5
Hi, thanks for giving the ideas and keeping this thread alive. I was thinking and discussing this issue with my team, and it is obvious that this approach could solve some things. My concern is that this also allows to end up in strange states if people are a bit unorganized. It is possible to deploy with .opera in folder A, then deploy modified version with .opera in folder B, then un-deploy A on

[2020-04-17 08:55] sstanovnik commented on #5
Having the ability to relocate the `.opera/` folder is a great idea, imo, and something I've been wanting recently.

I seem to remember @anzoman saying that when specifying a service template that is _not_ in the current directory, opara still looks in the current directory for imports, instead of them being relative to the invoked file. That would be another extension to this idea: having an extr

[2020-04-17 11:39] miwurster commented on #6
Very good point, didn't notice the typo.

[2020-04-17 11:39] #6 closed, assigned to anzoman

[2020-04-21 11:51] cankarm commented on #1
Fixed with https://github.com/xlab-si/xopera-opera/pull/26

[2020-04-21 11:51] #1 closed, assigned to cankarm

[2020-04-24 18:43] duelle opened #7 "Availability of the Opera parsing functionality for TOSCA files as a (Python) library"
As several partners need to parse TOSCA files to extract information, one idea would be to make the Opera parser available as a library.
From our (CTT) point of view it would be probably enough to have it available as a Python library and be able to get the information from the TOSCA files/structure in JSON, YAML, or Python dictionary.

As discussed in WP6
@chinmaya-dehury @stefanodallapalma @naes

[2020-04-24 19:15] stefanodallapalma commented on #7
HI @duelle,

thank you. This is a very good point.
I like the idea of a Python library, it would facilitate the integration in the current tools.
As from my side, I link the [ToscaMetrics documentation](https://github.com/radon-h2020/ToscaMetrics/tree/master/docs/metrics). The list of metrics refer to structural properties of a TOSCA blueprint, for example, the [number of nodes](https://github.com

[2020-04-26 17:24] chinmaya-dehury commented on #7
For data pipeline plugin, we (UTR) as well need to have a TOSCA parser that will make some changes on the user’s CSAR file. For example, the parser would get the list of pipeline nodes, check the underlined instances (or VMs or hosts), If they are sharing same host. Based on this the relationship will be updated and will be sent to the orchestrator.

So the input and the output to the data pipelin

[2020-04-28 10:08] anzoman commented on #7
Hi all, in the past opera had the ability to just parse the supplied TOSCA service template without actually running the deployment. With  TOSCA YAML profile version 1.3 this was dropped due to compatibility issues.

But the future is bright because we resurrected this forgotten [opera validate command ](https://github.com/xlab-si/xopera-opera/commit/91b9fe4a3f96c0f42a8e5dd0da5b269da54aaa29) and t

[2020-04-28 16:11] duelle commented on #7
Thanks for looking into this @anzoman,

for our use case, it would be more important to obtain the structure that is represented in the CSAR in a format we can use in Python. May it be YAML/JSON or even something that we can directly use in Python like a dictionary.
Our aim is to extract some properties/values from the service templates to parameterize tests configured through CTT.

The feature to

[2020-05-05 15:54] duelle opened #8 "Exposure of (un)deployment "sub-steps" via CLI/API (Feature Request)"
In order to control the steps inside the `deploy` and `undeploy` of opera, it would be a nice feature if one could trigger the Standard operations `create`, `configure`, `start`, `stop`, `delete` defined in TOSCA individually.

Initial ideas:
This could be exposed either via their own commands:
`opera {deploy|undeploy|create|configure|start|stop|delete} ..`
or as (optional) sub-commands:
`opera de

[2020-05-07 07:52] anzoman commented on #7
Hi,

@duelle opera already works in a way that it creates a directed graph with nodes so it is possible to retrieve them during execution.  For that one has to foray into opera's source code and add a little magic ;).

Here is the python script (`test.py`) I've prepared for parsing template and retrieving nodes and their values(attributes, properties, inputs):

[code]

Maybe it's somehow unclear b

[2020-05-07 08:09] cankarm commented on #7
Thanks @anzoman. This is probably useful also for @chinmaya-dehury and @pjakovits. Probably we could add these scripts and examples in particular repository, where it is possible to fork and improve them as needed.

[2020-05-07 12:51] chinmaya-dehury commented on #7
That's a nice snippet for basic operations @anzoman .
We (UTR) have two approaches.
Approach-1: to go with the common parser to most of the units/tools.
Approach-2: to go with our own parser specifically developed for data pipeline plugin with only required features.

For the time being, we are with Approach-2. But it would be nice to see a TOSCA parser at the end, which is highly matured and prov

[2020-05-07 12:57] chinmaya-dehury commented on #7
Yes @cankarm , that's possible and could be a good way to have a common parser for other tools.
As alternate, we may also fork the parser module of other tools (ofcourse if the concern tool owner agrees) and develop to matured independent parser with the contributions from other unit members.

[2020-05-19 11:37] gcasale opened #9 "Installing using README.md getting start"
The README.md example worked fine for me, some minor problems to fix:
- at no point README.md says when to clone the git repo and cd into the folder
- after verifying that hello.txt exists it is not clear what to do to continue and how to use the tool to do something more substantial like start a VM or container somewhere.

[2020-05-25 08:03] anzoman commented on #9
Hi, thanks for opening this issue.

So considering your minor problems: `README.md` doesn't say to clone the xopera's git repository explicitly but this the only logical thing you should to if you wanna test the examples that reside there. And for the second part I agree that hello world example definitely needs polishing.

So yes xOpera's `README.md` currently does not provide detailed instructio

[2020-05-25 08:07] gcasale commented on #9
This is a 5 minutes change, can we apply it to the README?

On Mon, 25 May 2020 at 09:03, Anže Luzar <notifications@github.com> wrote:

[2020-05-25 08:30] anzoman commented on #8
Hi @duelle sorry for a little late response but yes I see that this could be a really nice feature.

Currently if you call xOpera orchestrator  with `opera deploy` command it invokes the following TOSCA Standard interface node operations (from `tosca.interfaces.node.lifecycle.Standard`) and also TOSCA Configure interface relationship operations (from `tosca.interfaces.relationship.Configure`):

1.

[2020-05-25 08:55] anzoman commented on #9
Yes of course we can add the info about cloning the repository to test the examples and the suggestion to look at the docs. @cankarm should we apply this only here in this fork because (that way it will be take like 5 minutes) or also within the PR to the main opera repo?

[2020-05-27 10:51] chinmaya-dehury opened #10 "Deploying with CSAR."
Hi,
I am working with TOSCA modelling of data pipelines. I have prepared a service template using Winery. The service template consists of creating an instance in private cloud (OpenStack Environment) and installing Apache Nifi atop that instance. I exported the service template in CSAR format.

Now trying to test my model with xopera using following command
`opera deploy NifiEnv_deployTest.csar`

[2020-05-27 11:11] anzoman commented on #10
Hi,

right now xOpera doesn't support compressed/zipped CSAR files but I think that this will be available very soon (you can see the progress on that in this issue: https://github.com/xlab-si/xopera-opera/issues/27) and when this will be fully developed I will let you know here. So in the meantime instead of that you can try to deploy your solution by providing path to the TOSCA service template

[2020-05-27 12:10] chinmaya-dehury commented on #10
Thanks @anzoman for the info. Currently, I am providing YAML file as the argument to opera ([v0.5.2](https://github.com/radon-h2020/xopera-opera/releases/tag/0.5.2)) deploy command.

[2020-06-10 09:06] cankarm commented on #2
@duelle, is this issue still relevant?

[2020-06-10 09:15] anzoman commented on #9
This has been resolved and the latest opera README includes the info about cloning the opera's repository before trying to deploy the examples within. Therefore I propose closing this.

[2020-06-15 18:30] gcasale commented on #9
Thanks. This point is still open: "at no point README.md says when to clone the git repo and cd into the folder"

[2020-06-15 19:08] cankarm commented on #9
Correct, @anzoman updated readme in the upstream xopera version, but the fork in /radon-h2020 organisation was still behind. Now I merged all commits to this fork and everything should be OK.

[2020-06-15 19:15] gcasale commented on #9
Yes I see it, thanks!

[2020-06-15 19:15] #9 closed, assigned to nobody

[2020-07-29 10:59] anzoman commented on #5
This was resolved with the latest version of opera (0.5.8) where you will find an optional parameter `-p` or `--instance-path` which you can use not to relocate `.opera` folder but to replace it with another folder that opera orchestrator will use as its storage.

[2020-07-29 11:11] duelle commented on #5
Sounds good. So one can specify an existing folder to use similarly to the usually created `.opera` folder?

[2020-07-29 11:16] anzoman commented on #5
Yes exactly that :)

[2020-07-29 11:23] duelle commented on #5
Great, thanks for you efforts, @anzoman

[2020-07-29 11:23] #5 closed, assigned to nobody

[2020-07-29 11:27] anzoman commented on #10
This issue was addressed in #55. Now opera supports deploying/undeploying service templates and also the compressed CSAR files. This was achieved by implementing `opera init` command and the deployment can be done as follows:

[code]

So I guess that this is it - we can close the issue!

[2020-07-29 11:27] #10 closed, assigned to nobody

[2020-10-12 09:12] sydkbc opened #11 "Input passing into a newly defined relationship type"
I have the following newly defined relationship type (for Monitoring nodes purposes):

_**tosca_definitions_version: tosca_simple_yaml_1_3

relationship_types:
  radon.relationships.IsMonitoredBy:
    derived_from: tosca.relationships.ConnectsTo
    metadata:
      targetNamespace: "radon.relationships"
      abstract: "false"
      final: "false"
    interfaces:
      Configure:
        type: tos

[2020-10-15 12:18] cankarm commented on #11
Hi @sydkbc,
thanks for pointing this out.

Do you use this relationship in the topology_template and how?

Maybe @anzoman  can spot the issue here.

[2020-10-15 12:47] anzoman commented on #11
@cankarm I am asking your questions myself. @sydkbc it would be helpful if you provide full TOSCA template/CSAR.

[2020-10-16 07:43] sydkbc commented on #11
@anzoman I ll provide both the TOSCA template and a snapshot of the GMT topology.

[Monitoring.zip](https://github.com/radon-h2020/xopera-opera/files/5389972/Monitoring.zip)
![GCP Function Monitoring Service Template](https://user-images.githubusercontent.com/36516781/96227160-5fb5d900-0f9c-11eb-8c39-788da25987f0.png)

The relationship type is the IsMonitoredBy relationship.

[2020-10-20 07:45] anzoman commented on #11
@sydkbc thanks for providing the CSAR and the snapshot.

I've tried to extract and deploy your CSAR (with opera [0.6.2.dev7 version](https://test.pypi.org/project/opera/0.6.2.dev7/)) and I get the following output:

[code]
So the problem is in the input called `service_account_file`. I had a look at your entry point TOSCA file (`/Monitoring/_definitions/steIgeneral__Monitoring-Examples_w1-wip1.tos

[2020-10-21 14:12] sydkbc commented on #11
Hello @anzoman
First of all thanks for the clarifications.

I did what you proposed and I still get the issue. In detail:

In the service template:
![image](https://user-images.githubusercontent.com/36516781/96731824-5a9fc200-13c0-11eb-86fc-4ce2e848360f.png)

In the IsMonitoredBy relationship:
![image](https://user-images.githubusercontent.com/36516781/96731898-7014ec00-13c0-11eb-9d14-73367395639b

[2020-10-21 14:37] sydkbc commented on #11
What is also a bit weird is that I don't get your initial error... ever.
Error processing node GoogleCloudBucket_0_0: Cannot use an unset value: service_account_file

In my case from point 0 the error reported is:
Error processing node GoogleCloudBucketTriggeredFunction_0_0: 'Relationship' object has no attribute 'topology'

[2020-10-22 08:20] anzoman commented on #11
Hmm I see, this is strange. And have you tried to deploy the CSAR with opera [0.6.2.dev7 version](https://test.pypi.org/project/opera/0.6.2.dev7/) which is a development version?

[2020-10-22 09:36] sydkbc commented on #11
I tried that as well but the error persists:

<img width="1096" alt="image" src="https://user-images.githubusercontent.com/36516781/96853474-11547e80-1463-11eb-8753-cb16483810a6.png">

I don't know if this is something relevant but I am using an Apple Mac as a machine. Just FYI...

[2020-10-22 10:37] anzoman commented on #11
Thanks for your info and I think I found the problem.

So, my deployment worked because I had also set the default value for the `service_account_file` in `IsMonitoredBy` relationship type like this:

![image](https://user-images.githubusercontent.com/41727816/96860262-d5211e00-1462-11eb-8627-72c340e554f5.png)

I think that you have found a bug in opera that prevents getting input values from rela

[2020-10-22 11:50] anzoman commented on #11
I created a new issue on opera to track that problem: https://github.com/xlab-si/xopera-opera/issues/117

[2020-10-22 12:25] sydkbc commented on #11
Great!
Thanks for the help

[2021-01-18 08:35] AlexSpart opened #13 "Opera 0.6.4 deployment issue"
Hi,
I am getting the following error log for every csar I am trying to deploy. Csars are constructed based on the latest radon-particles repository.
`TOSCA-Metadata/TOSCA.meta: Missing required meta entry: TOSCA-Meta-File-Version`

[2021-01-18 09:21] cankarm commented on #13
Just out of my curiosity - if you unzip CSAR, is there TOSCA.meta file? Or any ".meta" file that you can find there?

[2021-01-18 11:16] anzoman commented on #13
It seems that `TOSCA.meta` file is present but within it the required field `TOSCA-Meta-File-Version: 1.1` is missing.

@AlexSpart can you supply the CSAR file here?

[2021-01-18 11:38] AlexSpart commented on #13
There is a TOSCA.meta file where `TOSCA-Meta-Version: 1.0` is defined.
Github doesn't like the csar file type to supply it here, but I believe you can reproduce it with any csar exported from the IDE.

[2021-01-18 11:41] cankarm commented on #13
OK, thanks. We will triage this issue.

[2021-01-18 11:53] anzoman commented on #13
@AlexSpart from the [TOSCA YAML v1.3](https://docs.oasis-open.org/tosca/TOSCA-Simple-Profile-YAML/v1.3/cos01/TOSCA-Simple-Profile-YAML-v1.3-cos01.html#_Toc26969474):

So, I believe that the `TOSCA-Meta-File-Version` should be set to `1.1` (which opera accepts) instead of `1.0`.

[2021-01-18 11:56] sstanovnik commented on #13
This is notabug as far as TOSCA is concerned, and notaregression as far as `opera~0.x.x` is concerned.

The correct and mandatory entry for the version is `TOSCA-Meta-File-Version`, which must be set to `1.1`. This has been the case since 1.0 and persists through 1.3 (with 1.3 changing the value from `1.0` to `1.1`. `TOSCA-Meta-Version` is not a valid key for the meta file. However, the [TOSCA 1.0

[2021-01-18 12:12] AlexSpart commented on #13
It makes sense. Are @miwurster or @v-yussupov already aware of this issue?

[2021-01-18 12:35] anzoman commented on #11
xlab-si#117 was merged. @cankarm I believe that the issue here was resolved.

[2021-01-18 12:38] anzoman commented on #4
@cankarm this issue is still open and I think that the issue here might be resolved or is not important anymore.

[2021-01-18 12:38] anzoman commented on #2
@cankarm this is still open and I think that the issue here might be resolved.

[2021-01-18 12:41] anzoman commented on #7
@cankarm opera CLI is available to be used within python scripts so this issue may not be relevant anymore. For the future we should document the opera CLI code with python docstrings and use them within opera documentation to explain how opera can be used within python scripts.

[2021-01-18 12:43] anzoman commented on #8
@cankarm this issue is further explained here: https://github.com/xlab-si/xopera-opera/issues/62. I think that we can close this one and keep only the one from upstream.

[2021-01-18 13:18] cankarm commented on #11
Great, thanks for pointing that out, @anzoman. I'm closing this.

[2021-01-18 13:18] #11 closed, assigned to nobody

[2021-01-18 13:22] cankarm commented on #4
it seems so. It would be nice if @duelle can say if this solves the issue. However, I'm closing this due to the inactivity and if the problem still persists, @duelle, please reopen the issue.

[2021-01-18 13:22] #4 closed, assigned to nobody

[2021-01-18 13:25] miwurster commented on #13
Thanks for the pointer @AlexSpart.

PR for RADON GMT is already open: https://github.com/eclipse/winery/pull/551

[2021-01-18 13:28] cankarm commented on #2
Ok, I'm closing this. @duelle can reopen it if required.

[2021-01-18 13:28] #2 closed, assigned to nobody

[2021-01-18 13:32] cankarm commented on #7
Ok, I'm closing this for now.

[2021-01-18 13:32] #7 closed, assigned to nobody

[2021-01-18 13:33] cankarm commented on #8
Ok, I agree.

[2021-01-18 13:33] #8 closed, assigned to nobody

[2021-01-18 14:55] AlexSpart opened #14 "Nodetype property definition - Opera 0.6.4"
Following issue #13,

I modified the csar so that the` TOSCA-Meta-File-Version: 1.1` is defined in the TOSCA.meta file but I run into the following error:
`_definitions/radonblueprints__ServerlessToDoListAPI.tosca:91:7: [NodeTemplate] Missing a required property: name. If the property is optional please specify this in the definition with 'required: false' or supply its default value using 'defaul

[2021-01-18 15:10] anzoman commented on #14
@AlexSpart with opera version 0.6.3 TOSCA properties became [required by default](https://github.com/xlab-si/xopera-opera/issues/131) as the standard says. So, you either have to set `required: false` for optional properties or you can supply their default value. I think that your errors may happen because some properties don't have their default values (or don't have `required` keyname set to `fa

[2021-01-19 08:20] miwurster commented on #14
We had a short discussion on Slack lately. From what I saw, the `maxsize` property is defined on the TOSCA node normative type `ObjectStorage`. AFAIK the normative TOSCA types are kinda built into xOpera.
I think setting some arbitrary value for the respective `AwsS3Bucket` node templates (the `AwsS3Bucket` are derived from `ObjectStorage`) should solve the problem. Alternatively, overwriting the

[2021-01-19 15:34] v-yussupov commented on #14
Just an addition to what @miwurster mentioned, the `maxsize` property is not required in the TOSCA normative type definition:

![image](https://user-images.githubusercontent.com/10276774/105056038-04e8bd80-5a74-11eb-83ed-e9c4afdca58d.png)

[2021-01-20 12:35] miwurster commented on #14
Good catch @v-yussupov.
@anzoman what is your point of view? Are these types built into xOpera and can be fixed respectively?

[2021-01-20 13:08] cankarm commented on #14
Normative types are built-in, yes. We will need to fix that.

[2021-01-20 14:46] anzoman commented on #14
@miwurster yes, normative types are somehow "built" into opera. As the standard says - when you use `tosca_definitions_version` line in your TOSCA service template, the orchestrator

So, when running with opera all TOSCA properties are now required by default (also the ones that are from normative types). From what I see `tosca.nodes.Storage.ObjectStorage` normative type might has an error in its

[2021-01-20 14:55] cankarm commented on #14
Thanks, @anzoman. That's interesting. So probably it would be necessary to point out this at some TOSCA meeting?

However,  we should add `required: false`  in the normative type and explained in a comment that in the TOSCA standard definition this line is missing. As above in a table, there is clearly stated that `maxsize` is not required.

[2021-01-20 16:24] anzoman commented on #14
@cankarm yes we can mention this. They might forget to update it for the upcoming `2.0` version as well which is not good. I believe that there are also some other minor inconsistencies throughout the standard - this is also one I found randomly some time ago https://github.com/xlab-si/xopera-opera/issues/53 and it could be also mentioned to the TOSCA Committee.

As for our fix I will prepare the

[2021-01-26 14:50] anzoman commented on #14
Hi everyone, the `ObjectStorage` TOSCA normative type has been corrected within opera (with https://github.com/xlab-si/xopera-opera/pull/167). Please verify that the deployment now works.

[2021-02-08 12:57] duelle commented on #14
I can confirm the initial reported issue with `radon.nodes.aws.AwsDynamoDBTable` with latest particles and opera v0.6.4.
Looks like the inherited properties from `tosca.nodes.Database` are assumed to be required.
[code]
After adding the name, it asks for port/password/.. etc.

[2021-02-08 13:42] miwurster commented on #14
Which is fine for the `name` property I think...

But according to the spec, port, user, and password are not set to be required. So, there shouldn't be an error message.

[2021-02-09 08:38] anzoman commented on #14
@duelle and @miwurster yes only the `name` TOSCA property is marked as required for `tosca.nodes.Database` normative node type and therefore `opera` should only ask for this if not provided.

![image](https://user-images.githubusercontent.com/41727816/107336329-3ffd7000-6ab9-11eb-9e89-04001847ee4a.png)

But again I think that we found a mistake in the type's definition (similar to the one in https

[2021-02-09 09:02] duelle commented on #14
I tried to fix the said issue locally by setting the properties of Database to `required: false`, but still after exporting I get asked for a port value. Are the base types (e.g., Database) of TOSCA not taken into account when exported or are they overridden by internal versions included in Opera itself?

[code]

Error message:
`_definitions/radonblueprints__ServerlessToDoListAPI.tosca:91:7: [Node

[2021-02-09 09:25] anzoman commented on #14
@duelle think that TOSCA normative types cannot be overridden when using `opera`. If I try to do so I get this error `opera.error.ParseError: [MapWrapper] Duplicate keys 'tosca.nodes.Database' found in STD[v_1_3]:369:3 and test.yaml:4:3`. We will fix the issue with `tosca.nodes.Database` in [opera's YAML stdlib normative types](https://github.com/xlab-si/xopera-opera/blob/master/src/opera/stdlib/v

[2021-02-09 09:28] duelle commented on #14
Is there a workaround we can use until then? Seems like the problem is present from Opera `v0.6.3` onwards.

[2021-02-09 09:39] anzoman commented on #14
@duelle do you mean the workaround to override the normative TOSCA types definitions? Currently I don't think so. I've tried with older `opera` versions and I get the same `duplicate keys` result. And I also believe that normative types should not be modified from the user (this is probably only possible for TOSCA [non-normative types](https://docs.oasis-open.org/tosca/TOSCA-Simple-Profile-YAML/v1

[2021-02-09 09:41] duelle commented on #14
@anzoman I mean a workaround for making the deployments go through with the more recent versions (aka 0.6.3/0.6.4) of Opera.

[2021-02-09 09:45] anzoman commented on #14
@duelle one workaround I see would be defining your own node type similar to `tosca.nodes.Database` with a different name and with `port` property set to `required: false`.

[2021-02-09 09:57] anzoman commented on #14
We already have a PR that will fix this https://github.com/xlab-si/xopera-opera/pull/178 and that will work with the next dev opera release on PyPI which I will link here as soon as we merge the PR.

[2021-02-15 09:26] anzoman commented on #14
The [issue](https://github.com/xlab-si/xopera-opera/issues/177) with `tosca.nodes.Database` has been fixed and the changes are already present in opera dev version [0.6.5.dev11](https://test.pypi.org/project/opera/0.6.5.dev11/).

[2021-02-23 09:33] AlexSpart commented on #14
@anzoman can you take a look on that?

<img width="1392" alt="ss1" src="https://user-images.githubusercontent.com/23174477/108823731-1ff1a480-75c1-11eb-92fa-944f68cf97cc.png">
_definitions/radonblueprints__ServerlessToDoListAPI.tosca:91:7: [NodeTemplate] -->
type: radon.nodes.aws.AwsDynamoDBTable
<img width="403" alt="Screenshot 2021-02-23 at 10 28 18" src="https://user-images.githubusercontent.co

[2021-02-23 14:26] anzoman commented on #14
@AlexSpart `AwsDynamoDBTable` derives from [`tosca.nodes.Database`](
https://github.com/radon-h2020/radon-particles/blob/master/nodetypes/tosca.nodes/Database/NodeType.tosca#L18) which is a normative type that is [built-in](https://github.com/xlab-si/xopera-opera/blob/master/src/opera/stdlib/v_1_3.yaml#L492) for xOpera. This `tosca.nodes.Database` normative type has a required `name` property and

[2021-02-23 14:51] AlexSpart commented on #14
I guess this is a required property in the new Opera version which conflicts with the version of the serverlessToDoListApi template that is available in radon-particles. Since it is not defined in the template i guess that is not defined as required in the AwsDynamoDBTable nodetype and that has to be updated in radon-particles.  Is there a plan for that already? @v-yussupov @miwurster

[2021-02-23 20:51] cankarm commented on #14
I agree with you @AlexSpart, however, meanwhile you can put this name property among your properties and it might work. If you are successful, this concludes the triage of this issue.

[2021-05-16 11:16] gcasale opened #15 "Validation sometimes doesn't help to locate the bug"
In xOpera SaaS it does help to have the run Validation option, but the
output in a number of occasions could be enhanced by indicating in
which relationship or node template the problem arises.

You can see an example attached, there is no entity called "str" and
one doesn't know where to start in debugging the issue.
![image (1)](https://user-images.githubusercontent.com/4592912/118395104-8d51268

[2021-05-16 14:39] gcasale opened #16 "Adding credentials on xopera SaaS"
In xopera-saas, clicking on the "manage secrets" feature of the workspace, one may accidentally press "Assign secret" before choosing which secret from the dropdown. In this case the Assign secret button becomes forever pressed and one needs to close the window and redo.

[2021-05-16 16:21] gcasale opened #17 "Project name clash"
The figure shows a situation where two workspaces have two projects with the same name (meetup02). The workspaces have different credentials. The deployment works fine in parallle, but there is overlap in the "Project outputs", the information shared is common across the two meetup02 projects, even though they are related only by the name.

![image](https://user-images.githubusercontent.com/459291

[2021-05-16 19:50] cankarm commented on #16
@sstanovnik - please triage this.

[2021-05-16 19:53] cankarm commented on #15
Frequently these errors result in typos in yaml or inputs.

@sstanovnik, please check this issue.

[2021-05-16 20:04] cankarm commented on #17
This issue has been observed and also reported on private xOpera SaaS gitlab page.  The fix is on the way - it seems that we will not allow creating projects with the same name.

notify: @sstanovnik, @anzoman

[2021-05-17 06:26] sstanovnik commented on #16
Triaged into the front of the queue due to ease of resolution.

[2021-05-17 10:14] sstanovnik commented on #16
The fix for this issue has just been deployed. Requesting close.

[2021-05-17 10:17] sstanovnik commented on #17
The resolution for this has just been deployed.

Existing projects with the same name will still exhibit the issue you've found. The only way around this is for you to recreate the projects, even using the same name. As far as security goes, this issue was only limited to a single user - having the same project name in two different users resulted in properly separated projects.

Requesting close.

[2021-05-17 10:20] sstanovnik commented on #15
This was a regression introduced with xopera-api 0.4.1 and was fixed in [release 0.4.2 of xopera-api](https://github.com/xlab-si/xopera-api/releases/tag/0.4.2).

The scope of impact was from last Friday until fifteen minutes ago. Projects created in that timespan will continue to exhibit the issue. Newly created projects, as of fifteen minutes ago, incorporate the necessary fix.

Requesting close.

[2021-06-10 09:03] cankarm commented on #16
Thanks @sstanovnik, it seems to work now.

[2021-06-10 09:03] #16 closed, assigned to cankarm

[2021-06-10 09:04] #15 closed, assigned to cankarm

[2021-06-10 09:05] #17 closed, assigned to cankarm

[2021-06-10 09:17] gcasale commented on #16
Approved

[2021-06-10 09:17] gcasale commented on #17
Approved

[2021-06-30 07:55] anzoman commented on #14
I'm closing this due to the inactivity and if the problem (with the [latest](https://pypi.org/project/opera/) version of opera) still persists, please reopen the issue.

[2021-06-30 07:55] #14 closed, assigned to nobody

[2021-06-30 07:56] anzoman commented on #13
The linked PR has been merged and I'm closing this issue. If the problem still persists (with the [latest](https://pypi.org/project/opera/) version of opera), please reopen this issue.

[2021-06-30 07:56] #13 closed, assigned to anzoman